<!DOCTYPE html> 
<html lang='en'>

<head>
	<title></title>
	<!-- Got this from skeleton html -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Styling -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link type="text/css" href="{{ url_for('static',filename='css/skeleton.css')}}" rel="stylesheet">
	<link type="text/css" href="{{ url_for('static',filename='css/github-markdown.css')}}" rel="stylesheet">
	<link type="text/css" href="{{ url_for('static',filename='css/styles.css')}}" rel="stylesheet">
	<!-- MathJax -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
	<script type="text/javascript" async
   		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<script type=text/javascript>
	   $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
	{% block body %}{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	<script src="{{ url_for('static', filename='js/marked.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/format.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	{% block script_zone %}{% endblock %}
</body>

